
* { 

    margin: 0 auto; border: 0px; margin: 0px; 
}

.container-div { 

    display: flex; flex-wrap: wrap; 
    max-height: 1800px; max-width: 1800px;

}

.Eraser {
    
    background-color: peachpuff; color: maroon;

}


.Tools { 

    display: flex; flex: 1 1 auto; text-align: center; gap: 5%; background-color: azure;

}

#amount_input { 

border: 1px dotted black;

}